@model List<FashionShop.Models.HoaDon>
@{
    ViewBag.Title = "Đơn Hàng";
    Layout = "~/Views/Shared/_LayoutPage_Main.cshtml";
}

@section LibraryCSS {
    <style>
        .no-item iconify-icon {
            font-size: 20rem;
            display: flex;
            justify-content: center;
        }

        .no-item p {
            font-size: 1.5rem;
            text-align: center;
        }

        .bill__table {
            width: 100%;
            text-align: center;
            font-size: 1.3rem;
            padding: 12px 8px;
        }
        .bill__col {
            padding: 12px 4px;
            border: 1px solid #333;
        }
        .bill__details-link {
            display: block;
            min-width: 120px;
            margin: 8px auto;
            padding: 8px;
            text-decoration: none;
            width: fit-content;
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 5px;
            color: #fff;
            background-color: var(--primary-color);
        }
    </style>
}
@section LibraryJS {
   
}

<div style="background-color: #fff;" class="grid wide">
    <section class="row">
        <div class="col">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Profile", "Account")">Hồ sơ người dùng</a></li>
                <li>Hoá đơn</li>
            </ul>
        </div>
    </section>

    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            @if (Model.Count == 0)
            {
                <div class="no-item">
                    <iconify-icon style="color: var(--primary-color);" icon="lets-icons:order-light"></iconify-icon>
                    <p>Không có đơn hàng nào</p>
                </div>
            }
            else
            {
                <table class="bill__table">
                    <thead>
                        <tr>
                            @*<th width="8%" class="bill__col">Mã Hoá Đơn</th>*@
                            @*<th width="12%" class="bill__col">Họ Và Tên</th>*@
                            <th width="10%" class="bill__col">Ngày Đặt Hàng</th>
                            <th width="15%" class="bill__col">Phương Thức Thanh Toán</th>
                            <th width="15%" class="bill__col">Phương Thức Vận Chuyển</th>
                            <th width="12%" class="bill__col">Ghi Chú</th>
                            <th width="10%" class="bill__col">Phí Vận Chuyển</th>
                            <th width="10%" class="bill__col">Tổng Tiền</th>
                            <th width="15%" class="bill__col">Trạng thái</th>
                            <th width="13%" class="bill__col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td class="bill__col">@item.MaHoaDon</td>*@
                                @*<td class="bill__col">@item.TaiKhoan.TenNguoiDung</td>*@
                                @*<td class="bill__col">@item.NgayDatMuaHang.ToShortDateString()</td>*@
                                <td class="bill__col">@item.NgayDatMuaHang</td>
                                <td class="bill__col">@item.PhuongThucThanhToan</td>
                                <td class="bill__col">@item.PhuongThucVanChuyen</td>
                                <td class="bill__col">@item.GhiChu</td>
                                <td class="bill__col">@string.Format("{0:#,##0}đ", item.PhiVanChuyen)</td>
                                <td class="bill__col">@string.Format("{0:#,##0}đ", item.TongTien)</td>
                                <td class="bill__col" style="color: var(--primary-color);">@item.TrangThaiDonHang</td>
                                @if (item.TrangThaiDonHang == "Đang vận chuyển")
                                {
                                    <td class="bill__col">
                                        <a class="bill__details-link" href="@Url.Action("Details", "Bill", new {maHoaDon = item.MaHoaDon})">Xem chi tiết</a>
                                        <a class="bill__details-link" href="@Url.Action("ConfirmBill", "Bill", new {maHoaDon = item.MaHoaDon, UserName = ViewBag.UserName})">Đã nhận hàng</a>
                                        <a class="bill__details-link" href="@Url.Action("CancelBill", "Bill", new {maHoaDon = item.MaHoaDon, UserName = ViewBag.UserName})">Huỷ đơn hàng</a>
                                    </td>
                                }
                                else if (item.TrangThaiDonHang == "Đang chờ xác nhận")
                                {
                                    <td class="bill__col">
                                        <a class="bill__details-link" href="@Url.Action("Details", "Bill", new {maHoaDon = item.MaHoaDon})">Xem chi tiết</a>
                                        <a class="bill__details-link" href="@Url.Action("CancelBill", "Bill", new {maHoaDon = item.MaHoaDon, UserName = ViewBag.UserName})">Huỷ đơn hàng</a>
                                    </td>

                                }
                                else
                                {
                                    <td class="bill__col">
                                        <a class="bill__details-link" href="@Url.Action("Details", "Bill", new {maHoaDon = item.MaHoaDon})">Xem chi tiết</a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
