@model List<FashionShop.Models.ChiTietHoaDon>
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage_Admin.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản Lý <small>Hoá đơn</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chi tiết Hoá Đơn</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Bảng quản lý toàn bộ các sản phẩm đã mua của hoá đơn vừa chọn - website thời trang - Fashion Shop</p>
                    @*<a href="@Url.Action("CreateProduct", "Bill")" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Create </a>*@
                    <!-- start project list -->
                    <table style="font-size: 15px;" class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 10%">#</th>
                                <th style="width: 25%">Tên Sản Phẩm</th>
                                <th style="width: 15%">Tên Màu</th>
                                <th style="width: 15%">Tên Size</th>
                                <th style="width: 15%">Số Lượng</th>
                                <th style="width: 25%">Thành Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaChiTietHoaDon</td>
                                    <td>
                                        @item.BienTheSanPham.SanPham.TenSanPham
                                    </td>
                                    <td>
                                        @item.BienTheSanPham.TenMau
                                    </td>
                                    <td>
                                        @item.BienTheSanPham.TenSize
                                    </td>
                                    <td>
                                        @item.SoLuongSanPhamDaDat
                                    </td>
                                    <td>
                                        @string.Format("{0:#,###}đ", item.ThanhTien)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="6">
                                    <p style="font-weight: 600;">Tổng tiền: <span style="color: red;">@string.Format("{0:#,###}đ", ViewBag.TongThanhToan)</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end project list -->
                </div>
            </div>
        </div>
    </div>
</div>