@model FashionShop.ViewModel.LoginVM
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutPage_Main.cshtml";
}
@section LibraryCSS {
    <link href="~/assets/css/login-register.css" rel="stylesheet" />
}
@section LibraryJS {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var showPasswordCheckbox = document.getElementById('ShowPassword');
            var passwordInput = document.getElementById('Password');

            showPasswordCheckbox.addEventListener('change', function () {
                passwordInput.type = showPasswordCheckbox.checked ? 'text' : 'password';
            });
        });
    </script>
    <script>
        function toast({
            title = '',
            message = '',
            type = 'info',
            duration = 5000
        }) {
            const main = document.getElementById('toast');
            if (main) {
                const toast = document.createElement('div');

                //Auto Remove Toast
                const autoRemoveId = setTimeout(function () {
                    main.removeChild(toast);
                }, duration + 1000);

                //Remove Toast when click
                toast.onclick = function (e) {
                    if (e.target.closest('.toast__close')) {
                        main.removeChild(toast);
                        clearTimeout(autoRemoveId);
                    }
                }

                const icons = {
                    success: 'fa-solid fa-circle-check',
                    info: 'fa-solid fa-circle-info',
                    error: 'fa-solid fa-circle-exclamation',
                };
                const icon = icons[type];
                const delay = (duration / 1000).toFixed(2);

                toast.classList.add('toast', `toast--${type}`);
                toast.style.animation = `slideInLeft ease .3s, fadeOut linear 1s ${delay}s forwards`;

                toast.innerHTML = `
                        <div class="toast__icon">
                            <i class="${icon}"></i>
                        </div>

                        <div class="toast__body">
                            <h3 class="toast__title">${title}</h3>
                            <p class="toast__msg">${message}</p>
                        </div>

                        <div class="toast__close">
                            <i class="fa-sharp fa-solid fa-xmark"></i>
                        </div>
                        `;
                main.appendChild(toast);

            }
        }

        function ShowSuccessToast() {
            preventDefault();
            toast({
                title: "Thành công",
                message: "Đăng nhập thành công",
                type: "success",
                duration: 3000
            });
            setTimeout(() => {
                var form = document.getElementById('login-form')
                form.submit();
            }, 3000)
        }
    </script>
}
<div class="grid wide">
    <div id="toast"></div>

    <section class="row">
        <div class="col">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li>Đăng nhập tài khoản</li>
            </ul>
        </div>
    </section>

    <div class="row">
        <div class="col col-xl-4 col-lg-4"></div>

        <div class="col col-xl-4 col-lg-4">
            <form id="login-form" action="@Url.Action("Login", "Account")" method="post">
                <h2>Đăng nhập</h2>
                <div class="form-group">
                    <label for="">Tên Người Dùng - UserName <span style="color: red;">*</span></label>
                    @Html.TextBoxFor(model => model.UserName, new
                    {
                       @class = "form-control",
                       type = "text",
                       name = "UserName",
                       id = "",
                       placeholder = "nguyenvana123"
                    })
                    @Html.ValidationMessageFor(model => model.UserName, "", new
                    {
                        style = "color: red;"
                    })
                </div>
                <div class="form-group">
                    <label for="">Mật khẩu <span style="color: red;">*</span></label>
                    @Html.TextBoxFor(model => model.Password, new
                    {
                        @class = "form-control",
                        type = "password",
                        name = "Password",
                        id = "Password",
                        placeholder = "Mật khẩu của bạn"
                    })
                    @Html.ValidationMessageFor(model => model.Password, "", new
                    {
                        style = "color: red;"
                    })
                </div>
                <div style="margin-left: 12px;">
                    <input class="form-control" type="checkbox" id="ShowPassword">
                    <label style="user-select: none;" for="ShowPassword">Hiện Mật khẩu</label>
                </div>
                <div class="form-group">
                    <input class="form-control" type="submit" value="ĐĂNG NHẬP">
                    <a href="#">Quên mật khẩu?</a>
                </div>
                <div class="form-group">
                    <div class="separator-with-border">
                        <div class="line"></div>
                        <span>Hoặc đăng nhập bằng</span>
                        <div class="line"></div>
                    </div>
                    <div class="login-with-social-media">
                        <a href="#"><iconify-icon icon="flat-color-icons:google"></iconify-icon><p>Google</p></a>
                        <a href="#"><iconify-icon icon="bi:facebook"></iconify-icon><p>Facebook</p></a>
                    </div>
                </div>
                <div class="form-group">
                    <span class="not-account">Bạn chưa có tài khoản<a class="register__link" href="@Url.Action("Register", "Account")">Đăng ký ngay</a></span>
                </div>
            </form>
        </div>

        <div class="col col-xl-4 col-lg-4"></div>
    </div>
</div>