@model List<FashionShop.Models.YeuThich>
@{
    ViewBag.Title = "FavouriteProductList";
    Layout = "~/Views/Shared/_LayoutPage_Main.cshtml";
}

@section LibraryJS{
    <script>
        document.getElementById('nextPage').addEventListener('click', (event) => {
            var currentPage = @ViewBag.Page;
            var nextPage = currentPage + 1;

            if (nextPage > 0 && nextPage <= @ViewBag.NoOfPages) {
                var link = '@Url.Action("GetAllProduct", "Product")?page=' + nextPage;
                document.getElementById('nextPage').setAttribute('href', link)
            }
        })
        document.getElementById('prevPage').addEventListener('click', (event) => {
             var currentPage = @ViewBag.Page;
             var prevPage = currentPage - 1;

             if (prevPage > 0 && prevPage <= @ViewBag.NoOfPages) {
                 var link = '@Url.Action("GetAllProduct", "Product")?page=' + prevPage;
                 document.getElementById('prevPage').setAttribute('href', link)
             }
        })
    </script>
}
<div class="grid wide">
    <section class="row">
        <div class="col">
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li>Tất Cả Sản phẩm</li>
            </ul>
        </div>
    </section>
</div>


<div class="app__container">
    <div class="grid wide">
        <div class="row sm-gutter">
            <div class="col col-xl-2 col-lg-2">
                @Html.Action("ProductTypePartial", "ProductType")
                @Html.Action("BrandsPartial", "Brands")
            </div>

            <div class="col col-xl-10 col-lg-10">
                <div class="product-content product--new">
                    <div class="product__header">
                        <h2>Tất Cả Sản Phẩm</h2>
                        <!-- <div>
                            <i class="fa-solid fa-caret-left"></i><i class="fa-solid fa-caret-right"></i>
                        </div> -->
                        <div class="filter">
                            <h3>Sắp xếp theo</h3>
                            <select name="" id="">
                                <option value="">Mặc định</option>
                                <option value="">Giá từ cao -> thấp</option>
                                <option value="">Giá từ thấp -> cao</option>
                                <option value="">A -> Z</option>
                                <option value="">Z -> A</option>
                            </select>
                            <div class="select-view">
                                <a class="active" href="@Url.Action("GetAllProduct", "Product")"><iconify-icon icon="bxs:grid"></iconify-icon></a>
                                <a href="@Url.Action("GetAllProduct_List", "Product")"><iconify-icon icon="ic:baseline-list"></iconify-icon></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel row no-gutters">
                        @if (@Model.Count != 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="product-container col col-xl-2-4 col-lg-2-4">
                                    <div class="product-item" onclick="window.location = '@Url.Action("GetProductDetails", "Product", new { maSanPham = item.SanPham.MaSanPham})'">
                                        <div class="product-item__img" style="background-image: url('@Url.Content("~/assets/img/")@item.SanPham.AnhDaiDien');"></div>

                                        @if (item.SanPham.TenSanPham.Length > 25)
                                        {
                                            <h4 class="product-item__name">@item.SanPham.TenSanPham.Substring(0, 20)...</h4>
                                        }
                                        else
                                        {
                                            <h4 class="product-item__name">@item.SanPham.TenSanPham</h4>
                                        }

                                        <div class="product-item__price">
                                            <span class="product-item__price-old">@string.Format("{0:#,##0đ}đ", item.SanPham.GiaSanPham)</span>
                                            @if (item.SanPham.KhuyenMai != 0)
                                            {
                                                <span class="product-item__price-current">@string.Format("{0:#,##0}đ", item.SanPham.GiaSanPham - (item.SanPham.GiaSanPham * item.SanPham.KhuyenMai))</span>
                                            }
                                            else
                                            {
                                                <span class="product-item__price-current">@string.Format("{0:#,##0}đ", item.SanPham.GiaSanPham)</span>
                                            }
                                        </div>

                                        <div class="product-item__action">
                                            <span class="product-item__like product-item__like--liked">
                                                <i class="product-item__like-icon-empty fa-regular fa-heart"></i>
                                                <i class="product-item__like-icon-fill fa-solid fa-heart"></i>
                                            </span>

                                            <div class="product-item__rating">
                                                <i class="product-item__star--gold fa-solid fa-star"></i>
                                                <i class="product-item__star--gold fa-solid fa-star"></i>
                                                <i class="product-item__star--gold fa-solid fa-star"></i>
                                                <i class="product-item__star--gold fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <span class="product-item__sold">0 đã bán</span>
                                        </div>

                                        <div class="product-item__origin">
                                            <span class="product-item__brand">@item.SanPham.ThuongHieu.TenThuongHieu</span>
                                            <span class="product-item__origin-name">@item.SanPham.ThuongHieu.XuatXu</span>
                                        </div>

                                        <div class="product-item__status">
                                            <i class="fa-solid fa-check"></i>
                                            <span>New</span>
                                        </div>

                                        @if (item.SanPham.KhuyenMai != 0)
                                        {
                                            <div class="product-item__sale-off">
                                                <span class="product-item__sale-off-percent">@string.Format("-{0}%", item.SanPham.KhuyenMai * 100)</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h2 style="margin: 25px auto;">Nơi đây thật trống trải ...</h2>
                        }
                    </div>
                    <div class="pagination">
                        <a id="prevPage" href="#">Prev</a>
                        @for (int i = 0; i < ViewBag.NoOfPages; i++)
                        {
                            if ((i + 1) == ViewBag.Page)
                            {
                                <a class="active" href="@Url.Action("GetAllProduct", "Product", new { page = (i + 1)})">@(i+1)</a>
                            }
                            else
                            {
                                <a href="@Url.Action("GetAllProduct", "Product", new { page = (i + 1)})">@(i+1)</a>
                            }
                        }
                        <a id="nextPage" href="#">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

