@model List<FashionShop.Models.SanPham>
@{
    Layout = "~/Views/Shared/_LayoutPage_Main.cshtml";
}

@section Banner {
    <div class="swiper banner mb-4">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="@Url.Content("~/assets/img/banner-thoi-trang-nam-1.jpg")"
                     class="img-fluid w-100 align-content-center"
                     alt="Banner 1" />
            </div>
            <div class="swiper-slide">
                <img src="@Url.Content("~/assets/img/banner-thoi-trang-nu.png")"
                     class="img-fluid w-100"
                     alt="Banner 2" />
            </div>
            <div class="swiper-slide">
                <img src="@Url.Content("~/assets/img/banner-thoi-trang-nu-1.jpg")"
                     class="img-fluid w-100"
                     alt="Banner 3" />
            </div>
            <div class="swiper-slide">
                <img src="@Url.Content("~/assets/img/banner-thoi-trang-nu-1.png")"
                     class="img-fluid w-100"
                     alt="Banner 4" />
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
}

@section LibraryCSS {
    <link rel="stylesheet" href="~/assets/css/pages/home.css" />
}

@section LibraryJS {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper(".banner", {
            loop: true,
            pagination: { el: ".swiper-pagination", clickable: true },
            navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev" },
            autoplay: { delay: 3000 },
        });
    </script>
}

<div class="row">
    <aside class="col-lg-3 d-none d-lg-block">
        @Html.Action("CategoryPartial", "Home")
        @Html.Action("BrandPartial", "Home")
    </aside>

    <div class="col-lg-9">
        <section class="mb-3">
            <div class="d-flex justify-content-between align-items-center border-bottom border-2 border-danger mb-3">
                <h5 class="bg-danger text-white px-3 py-2 m-0 rounded-top">Sản Phẩm Nổi Bật</h5>
            </div>
            <div class="row g-3">
                
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product-card border p-2 text-center h-100">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                        <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">-12%</span>

                        <div class="favorite-badge">
                            <i class="fa-regular fa-heart active"></i>
                        </div>

                        <a href="#"
                           class="stretched-link text-decoration-none text-dark"></a>

                        <div class="product-img-wrapper">
                            <img src="https://placehold.co/400" alt="Product Name" />
                        </div>

                        <div class="product-info mt-auto">
                            <h6 class="text-truncate px-1 mb-1">Áo Polo Louis Vuitton</h6>

                            <div class="price-box mb-1">
                                <span class="text-decoration-line-through text-muted small me-2">15,700,000₫</span>
                                <div class="text-danger fw-bold">13,816,000₫</div>
                            </div>

                            <div class="rating-sold d-flex align-items-center justify-content-center small">
                                <div class="text-warning me-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="text-muted border-start ps-2">Đã bán 0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product-card border p-2 text-center h-100">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                        <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">-12%</span>

                        <div class="favorite-badge">
                            <i class="fa-regular fa-heart active"></i>
                        </div>

                        <a href="#"
                           class="stretched-link text-decoration-none text-dark"></a>

                        <div class="product-img-wrapper">
                            <img src="https://placehold.co/400" alt="Product Name" />
                        </div>

                        <div class="product-info mt-auto">
                            <h6 class="text-truncate px-1 mb-1">Áo Polo Louis Vuitton</h6>

                            <div class="price-box mb-1">
                                <span class="text-decoration-line-through text-muted small me-2">15,700,000₫</span>
                                <div class="text-danger fw-bold">13,816,000₫</div>
                            </div>

                            <div class="rating-sold d-flex align-items-center justify-content-center small">
                                <div class="text-warning me-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="text-muted border-start ps-2">Đã bán 0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product-card border p-2 text-center h-100">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                        <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">-12%</span>

                        <div class="favorite-badge">
                            <i class="fa-regular fa-heart active"></i>
                        </div>

                        <a href="#"
                           class="stretched-link text-decoration-none text-dark"></a>

                        <div class="product-img-wrapper">
                            <img src="https://placehold.co/400" alt="Product Name" />
                        </div>

                        <div class="product-info mt-auto">
                            <h6 class="text-truncate px-1 mb-1">Áo Polo Louis Vuitton</h6>

                            <div class="price-box mb-1">
                                <span class="text-decoration-line-through text-muted small me-2">15,700,000₫</span>
                                <div class="text-danger fw-bold">13,816,000₫</div>
                            </div>

                            <div class="rating-sold d-flex align-items-center justify-content-center small">
                                <div class="text-warning me-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="text-muted border-start ps-2">Đã bán 0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product-card border p-2 text-center h-100">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                        <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">-12%</span>

                        <div class="favorite-badge">
                            <i class="fa-regular fa-heart active"></i>
                        </div>

                        <a href="#"
                           class="stretched-link text-decoration-none text-dark"></a>

                        <div class="product-img-wrapper">
                            <img src="https://placehold.co/400" alt="Product Name" />
                        </div>

                        <div class="product-info mt-auto">
                            <h6 class="text-truncate px-1 mb-1">Áo Polo Louis Vuitton</h6>

                            <div class="price-box mb-1">
                                <span class="text-decoration-line-through text-muted small me-2">15,700,000₫</span>
                                <div class="text-danger fw-bold">13,816,000₫</div>
                            </div>

                            <div class="rating-sold d-flex align-items-center justify-content-center small">
                                <div class="text-warning me-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="text-muted border-start ps-2">Đã bán 0</span>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </section>

        <section class="mb-3">
            <div class="d-flex justify-content-between align-items-center border-bottom border-2 border-danger mb-3">
                <h5 class="bg-danger text-white px-3 py-2 m-0 rounded-top">Sản Phẩm Khuyến Mãi</h5>
            </div>
            <div class="row g-3">

                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product-card border p-2 text-center h-100">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                        <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">-12%</span>

                        <div class="favorite-badge">
                            <i class="fa-regular fa-heart active"></i>
                        </div>

                        <a href="#"
                           class="stretched-link text-decoration-none text-dark"></a>

                        <div class="product-img-wrapper">
                            <img src="https://placehold.co/400" alt="Product Name" />
                        </div>

                        <div class="product-info mt-auto">
                            <h6 class="text-truncate px-1 mb-1">Áo Polo Louis Vuitton</h6>

                            <div class="price-box mb-1">
                                <span class="text-decoration-line-through text-muted small me-2">15,700,000₫</span>
                                <div class="text-danger fw-bold">13,816,000₫</div>
                            </div>

                            <div class="rating-sold d-flex align-items-center justify-content-center small">
                                <div class="text-warning me-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="text-muted border-start ps-2">Đã bán 0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product-card border p-2 text-center h-100">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                        <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">-12%</span>

                        <div class="favorite-badge">
                            <i class="fa-regular fa-heart active"></i>
                        </div>

                        <a href="#"
                           class="stretched-link text-decoration-none text-dark"></a>

                        <div class="product-img-wrapper">
                            <img src="https://placehold.co/400" alt="Product Name" />
                        </div>

                        <div class="product-info mt-auto">
                            <h6 class="text-truncate px-1 mb-1">Áo Polo Louis Vuitton</h6>

                            <div class="price-box mb-1">
                                <span class="text-decoration-line-through text-muted small me-2">15,700,000₫</span>
                                <div class="text-danger fw-bold">13,816,000₫</div>
                            </div>

                            <div class="rating-sold d-flex align-items-center justify-content-center small">
                                <div class="text-warning me-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="text-muted border-start ps-2">Đã bán 0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product-card border p-2 text-center h-100">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                        <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">-12%</span>

                        <div class="favorite-badge">
                            <i class="fa-regular fa-heart active"></i>
                        </div>

                        <a href="#"
                           class="stretched-link text-decoration-none text-dark"></a>

                        <div class="product-img-wrapper">
                            <img src="https://placehold.co/400" alt="Product Name" />
                        </div>

                        <div class="product-info mt-auto">
                            <h6 class="text-truncate px-1 mb-1">Áo Polo Louis Vuitton</h6>

                            <div class="price-box mb-1">
                                <span class="text-decoration-line-through text-muted small me-2">15,700,000₫</span>
                                <div class="text-danger fw-bold">13,816,000₫</div>
                            </div>

                            <div class="rating-sold d-flex align-items-center justify-content-center small">
                                <div class="text-warning me-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="text-muted border-start ps-2">Đã bán 0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product-card border p-2 text-center h-100">
                        <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                        <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">-12%</span>

                        <div class="favorite-badge">
                            <i class="fa-regular fa-heart active"></i>
                        </div>

                        <a href="#"
                           class="stretched-link text-decoration-none text-dark"></a>

                        <div class="product-img-wrapper">
                            <img src="https://placehold.co/400" alt="Product Name" />
                        </div>

                        <div class="product-info mt-auto">
                            <h6 class="text-truncate px-1 mb-1">Áo Polo Louis Vuitton</h6>

                            <div class="price-box mb-1">
                                <span class="text-decoration-line-through text-muted small me-2">15,700,000₫</span>
                                <div class="text-danger fw-bold">13,816,000₫</div>
                            </div>

                            <div class="rating-sold d-flex align-items-center justify-content-center small">
                                <div class="text-warning me-2">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                                <span class="text-muted border-start ps-2">Đã bán 0</span>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </section>

        <section class="mb-3">
            <div class="d-flex justify-content-between align-items-center border-bottom border-2 border-danger mb-3">
                <h5 class="bg-danger text-white px-3 py-2 m-0 rounded-top">Sản Phẩm</h5>
            </div>
            <div class="row g-3">
                @if (@Model.Count != 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product-card border p-2 text-center h-100">
                                <span class="badge bg-danger position-absolute top-0 start-0 m-2">New</span>
                                <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2">@string.Format("-{0}%", item.KhuyenMai * 100)</span>

                                <div class="favorite-badge">
                                    <i class="fa-regular fa-heart"></i>
                                </div>

                                <a href="@Url.Action("Details", "Product", new { maSanPham = item.MaSanPham})"
                                   class="stretched-link text-decoration-none text-dark"></a>

                                <div class="product-img-wrapper">
                                    <img src="@Url.Content("~/assets/img/")@item.AnhDaiDien" alt="Product Name" />
                                </div>

                                <div class="product-info mt-auto">
                                    <h6 class="text-truncate px-1 mb-1">@item.TenSanPham</h6>

                                    <div class="price-box mb-1">
                                        @if (item.KhuyenMai != 0)
                                        {
                                            <span class="text-decoration-line-through text-muted small me-2">@string.Format("{0:#,##0}đ", item.GiaSanPham)</span>
                                            <div class="text-danger fw-bold">@string.Format("{0:#,##0}đ", item.GiaSanPham - (item.GiaSanPham * item.KhuyenMai))</div>
                                        }
                                        else
                                        {
                                            <div class="text-danger fw-bold">@string.Format("{0:#,##0}đ", item.GiaSanPham)</div>
                                        }
                                    </div>

                                    <div class="rating-sold d-flex align-items-center justify-content-center small">
                                        <div class="text-warning me-2">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <span class="text-muted border-start ps-2">Đã bán 0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="empty-state text-center py-3 w-100">
                        <p class="text-muted">Có vẻ như danh mục này hiện chưa có sản phẩm hoặc đã hết hàng.</p>
                    </div>
                }
            </div>

            <div class="row mt-4">
                <div class="col-12 text-center">
                    <a href="./products.html"
                       class="btn btn-outline-danger px-5 py-2 fw-bold btn-view-more">
                        Xem thêm <i class="fa-solid fa-angles-down ms-1"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>