@model List<FashionShop.Models.BienTheSanPham>
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage_Admin.cshtml";
    var product = ViewBag.SanPham as FashionShop.Models.SanPham;
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản Lý<small>Biến Thể Sản Phẩm @product.TenSanPham</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tất Cả Biến Thể Sản Phẩm</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Bảng quản lý toàn bộ các biến thể sản phẩm @product.TenSanPham</p>
                    <a href="@Url.Action("CreateProductCustom", "Product", new { maSanPham = @product.MaSanPham})" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Create </a>
                    <a href="@Url.Action("GetProduct", "Product")" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Go Back! </a>

                    <!-- start project list -->
                    <table style="font-size: 15px;" class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: 25%">Tên Sản Phẩm</th>
                                <th style="width: 20%">Tên Size</th>
                                <th style="width: 20%">Tên Màu</th>
                                <th style="width: 25%">#Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaBienThe</td>
                                    <td>
                                        @item.SanPham.TenSanPham
                                    </td>
                                    <td>
                                        @item.TenSize
                                    </td>
                                    <td>
                                        @item.TenMau
                                    </td>
                                    <td>
                                        <a href="@Url.Action("DeleteProductCustom", "Product", new { maSanPham = item.SanPham.MaSanPham, maBienThe = item.MaBienThe})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- end project list -->
                </div>
            </div>
        </div>
    </div>
</div>

