@model List<FashionShop.Models.SanPham>
@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage_Admin.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Quản Lý <small>Sản Phẩm</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <form style="display: flex;" action="@Url.Action("GetProduct", "Product")" method="post">
                        <input type="text" name="txtInput_ID" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="submit">Go!</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tất Cả Sản Phẩm</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Bảng quản lý toàn bộ các sản phẩm đang được bán tại website thời trang - Fashion Shop</p>
                    <a href="@Url.Action("CreateProduct", "Product")" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Create </a>
                    <!-- start project list -->
                    <table style="font-size: 15px;" class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 2%">#</th>
                                <th style="width: 10%">Loại Sản Phẩm</th>
                                <th style="width: 20%">Tên Sản Phẩm</th>
                                <th style="width: 10%">Hình Ảnh</th>
                                <th style="width: 10%">Thương Hiệu</th>
                                <th style="width: 10%">Giá Cả</th>
                                <th style="width: 20%">#Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaSanPham</td>
                                    <td>
                                        @item.LoaiSanPham.TenLoai
                                    </td>
                                    <td>
                                        <a>@item.TenSanPham</a>
                                        <br />
                                        <small>Khuyến Mãi: @(item.KhuyenMai * 100)%</small>
                                    </td>
                                    <td>
                                        <img width="100%" src="~/assets/img/@item.AnhDaiDien" alt="@item.TenSanPham" />
                                    </td>
                                    <td>
                                        @item.ThuongHieu.TenThuongHieu
                                    </td>
                                    <td>
                                        @item.GiaSanPham
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Product", new { maSanPham = item.MaSanPham})" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                        <a href="@Url.Action("DeleteProduct", "Product", new { maSanPham = item.MaSanPham})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- end project list -->
                </div>
            </div>
        </div>
    </div>
</div>

